@font-face {
  font-family: 'Simonetta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Simonetta Regular'), local('Simonetta-Regular'), url(https://fonts.gstatic.com/s/simonetta/v10/x3dickHVYrCU5BU15c4xe_oG.ttf) format('truetype');
}
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v1/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6JABE.ttf) format('truetype');
}
/* examples
@border: 2px dashed gray;

//mobile
@phone:~"(max-width: 500px)";
*/
/*
.links () {
    text-decoration: none;
    color: black;
}

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border:1px solid orangered; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Spartan', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Simonetha', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
/* Nav Bar */
.header {
  display: flex;
  flex-wrap: nowrap;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  padding: 0.5%;
  /*  box-shadow: 10px 10px 5px grey; */
  background-color: rgba(255, 255, 255, 0.85);
  margin-bottom: 5%;
}
nav .logo {
  width: 15%;
}
nav .links {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  font-size: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5%;
}
nav .links a {
  text-decoration: none;
  color: #628c3d;
}
nav .search-box {
  display: flex;
  flex-wrap: nowrap;
  width: 15%;
  justify-content: center;
  margin-top: 1%;
  border-radius: 40px;
  height: 30px;
  border-color: #628c3d;
  background-color: white;
  box-shadow: 5px 5px 5px #628c3d;
}
nav .search-box .search-btn {
  width: 40px;
}
nav .search-box input {
  border: none;
  text-decoration: none;
  color: #628c3d;
}
nav .search-box input:focus {
  outline: none;
}
.home-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 40px;
}
.home-body .main-logo {
  display: flex;
  justify-content: center;
  width: 60%;
}
.home-body .main-logo img {
  width: 50%;
}
.home-body .home-content {
  text-align: center;
  width: 95%;
}
.home-body .home-content .title-home-intro {
  color: #628c3d;
  font-family: 'Simonetta', serif;
  margin-top: 20px;
}
.home-body .home-content .home-intro {
  margin-top: 1%;
  display: inline-flex;
  width: 50%;
  line-height: 160%;
  font-family: 'Spartan', sans-serif;
  font-size: 2rem;
}
.home-body .home-buttons {
  display: flex;
  width: 40%;
  justify-content: center;
}
.home-body .home-buttons button {
  margin: 2% 8%;
}
.home-body .home-buttons .home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #628c3d;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  padding: 2% 2%;
  border-radius: 15px;
  border: 1.5px solid whitesmoke;
  box-shadow: 5px 5px 5px #628c3d;
}
#videoBG {
  position: fixed;
  z-index: -1;
}
.meet-container {
  background: url(../src/img/meet.jpg) top left / cover no-repeat;
}
.meet-us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.meet-us h3 {
  width: 38%;
  text-align: center;
  padding-left: 8%;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 2.8rem;
  margin-bottom: 1.5%;
}
.meet-us .person {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.meet-us .person img {
  max-width: 10%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px gray;
}
.meet-us .person p {
  margin: 0 4%;
  text-align: center;
  font-size: 1.3rem;
}
.meet-us .person p a {
  color: #628c3d;
  text-decoration: none;
}
.meet-us .person p a:hover {
  color: #8DC300;
}
.meet-us .person a {
  text-decoration: none;
}
.meet-us .person a i {
  display: flex;
  font-size: 4rem;
  color: #628c3d;
  align-content: center;
}
.meet-us .person a i:hover {
  color: #8DC300;
}
