@font-face {
  font-family: 'Simonetta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Simonetta Regular'), local('Simonetta-Regular'), url(https://fonts.gstatic.com/s/simonetta/v10/x3dickHVYrCU5BU15c4xe_oG.ttf) format('truetype');
}
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spartan/v1/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6JABE.ttf) format('truetype');
}
/*
.links () {
    text-decoration: none;
    color: black;
}

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 1px solid orangered;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  max-width: 2500px;
}
@media (max-width: 500px) {
  body {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  body {
    background: url('../src/img/poster-start.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Spartan', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Simonetha', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.home-container {
  width: 100%;
  min-height: 100vh;
}
@media (max-width: 1400px) {
  .home-container {
    min-height: 100%;
  }
}
/* Nav Bar */
.header {
  display: flex;
  flex-wrap: nowrap;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  padding: 0.5%;
  background-color: rgba(255, 255, 255, 0.85);
  margin-bottom: 2%;
  position: fixed;
  top: 0;
}
@media (max-width: 1400px) {
  nav {
    margin-bottom: 0;
  }
}
@media (max-width: 1000px) {
  nav {
    margin-bottom: 1%;
  }
}
@media (max-width: 800px) {
  nav {
    padding: 0.2%;
  }
}
@media (max-width: 500px) {
  nav {
    margin-bottom: 7%;
    padding: 2%;
  }
}
nav .logo {
  display: flex;
  flex-wrap: nowrap;
  width: 15%;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  nav .logo {
    width: 50% ;
  }
}
nav .links {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  font-size: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5%;
}
@media (max-width: 1000px) {
  nav .links {
    margin-right: 2%;
  }
}
@media (max-width: 500px) {
  nav .links {
    width: 100%;
    display: none;
  }
}
nav .links a {
  text-decoration: none;
  color: #628c3d;
}
@media (max-width: 1000px) {
  nav .links a {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  nav .links a {
    font-size: 1rem;
  }
}
nav i {
  margin-right: 1rem;
  color: #628c3d;
  font-size: 2rem;
  display: none !important;
}
@media (max-width: 500px) {
  nav i {
    display: inline-block !important;
    justify-content: flex-end;
    cursor: pointer;
    width: 80% ;
  }
}
nav #toggle {
  display: none;
}
nav .search-box {
  display: flex;
  flex-wrap: nowrap;
  width: 15%;
  justify-content: center;
  margin-top: 1%;
  border-radius: 40px;
  height: 30px;
  border-color: #628c3d;
  background-color: white;
  box-shadow: 5px 5px 5px #628c3d;
}
@media (max-width: 1000px) {
  nav .search-box {
    width: 20%;
  }
}
@media (max-width: 500px) {
  nav .search-box {
    display: none;
  }
}
nav .search-box .search-btn {
  width: 40px;
}
nav .search-box input {
  border: none;
  text-decoration: none;
  color: #628c3d;
}
nav .search-box input:focus {
  outline: none;
}
.home-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 40px;
  position: absolute;
  top: 25%;
  left: 30%;
}
@media (max-width: 1400px) {
  .home-body {
    top: 20%;
  }
}
@media (max-width: 1000px) {
  .home-body {
    left: 24%;
    width: 55%;
  }
}
@media (max-width: 800px) {
  .home-body {
    top: 20%;
  }
}
@media (max-width: 500px) {
  .home-body {
    top: 23%;
    left: 5%;
    width: 90%;
    overflow-y: scroll;
  }
}
.home-body .main-logo {
  display: flex;
  justify-content: center;
  min-width: 85%;
}
.home-body .main-logo img {
  width: 50%;
}
.home-body .home-content {
  text-align: center;
  width: 95%;
}
.home-body .home-content .title-home-intro {
  color: #628c3d;
  font-family: 'Simonetta', serif;
  font-size: 2.2rem;
  margin-top: 20px;
}
.home-body .home-content .home-intro {
  margin-top: 1%;
  display: inline-flex;
  width: 70%;
  line-height: 160%;
  font-family: 'Spartan', sans-serif;
  font-size: 1.4rem;
}
@media (max-width: 1400px) {
  .home-body .home-content .home-intro {
    width: 80%;
  }
}
@media desktop {
  .home-body .home-content .home-intro {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .home-body .home-content .home-intro {
    font-size: 1.2rem;
    width: 95%;
  }
}
.home-body .home-buttons {
  display: flex;
  width: 40%;
  justify-content: center;
  padding-bottom: 3%;
}
@media (max-width: 800px) {
  .home-body .home-buttons {
    width: 50%;
  }
}
.home-body .home-buttons button {
  margin: 2% 8%;
}
.home-body .home-buttons button a {
  text-decoration: none;
  color: white;
}
.home-body .home-buttons .home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #628c3d;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  padding: 2% 2%;
  border-radius: 15px;
  border: 1.5px solid whitesmoke;
  /* box-shadow: 5px 5px 5px @green; */
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  background-image: linear-gradient(to right, #628c3d 0%, #8DC300 51%, #628c3d 100%);
}
.home-body .home-buttons .home-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-position: right center;
}
#videoBG {
  position: fixed;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
}
.meet-body {
  background: url(../src/img/meet.jpg) top left / cover no-repeat;
  min-height: 100%;
  background-position: center;
  background-attachment: fixed;
}
@media (max-width: 500px) {
  .meet-body {
    overflow-y: scroll;
  }
}
.meet-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.meet-us h3 {
  width: 30%;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 2.8rem;
  margin: 6% 1.5% 1.5% 5%;
}
@media (max-width: 1400px) {
  .meet-us h3 {
    width: 35%;
    margin: 7% 0 1% 5%;
  }
}
@media (max-width: 1000px) {
  .meet-us h3 {
    width: 32%;
    margin-top: 8%;
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .meet-us h3 {
    width: 35%;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 10%;
  }
}
@media (max-width: 500px) {
  .meet-us h3 {
    margin-top: 15%;
    width: 60%;
  }
}
.meet-us .meet-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 28%;
}
@media (max-width: 1400px) {
  .meet-us .meet-content {
    width: 30%;
    margin: 0 0 5% 6%;
  }
}
@media (max-width: 1000px) {
  .meet-us .meet-content {
    flex-direction: column;
    width: 50%;
  }
}
@media (max-width: 800px) {
  .meet-us .meet-content {
    width: 35%;
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .meet-us .meet-content {
    width: 65%;
    margin: 2% 0 12% 10%;
  }
}
.meet-us .meet-content .person {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: start;
  margin: 0 0 2% 10%;
}
@media (max-width: 1400px) {
  .meet-us .meet-content .person {
    margin: 0 0 5% 0%;
  }
}
@media (max-width: 1000px) {
  .meet-us .meet-content .person {
    width: 60%;
    margin-bottom: 5%;
  }
}
@media (max-width: 800px) {
  .meet-us .meet-content .person {
    width: 100%;
  }
}
.meet-us .meet-content .person img {
  max-width: 20%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px gray;
}
@media (max-width: 1400px) {
  .meet-us .meet-content .person img {
    max-width: 17%;
  }
}
@media (max-width: 800px) {
  .meet-us .meet-content .person img {
    max-width: 14%;
  }
}
@media (max-width: 500px) {
  .meet-us .meet-content .person img {
    max-width: 20%;
    margin-top: 2%;
  }
}
.meet-us .meet-content .person p {
  margin: 0 4%;
  text-align: center;
  font-size: 1.3rem;
}
@media (max-width: 1000px) {
  .meet-us .meet-content .person p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1.15rem;
  }
}
@media (max-width: 800px) {
  .meet-us .meet-content .person p {
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
  }
}
@media (max-width: 500px) {
  .meet-us .meet-content .person p {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.meet-us .meet-content .person p a {
  color: #628c3d;
  text-decoration: none;
}
@media (max-width: 1000px) {
  .meet-us .meet-content .person p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
.meet-us .meet-content .person p a:hover {
  color: #8DC300;
}
.meet-us .meet-content .person a {
  text-decoration: none;
}
.meet-us .meet-content .person a i {
  display: flex;
  font-size: 4rem;
  color: #628c3d;
  align-content: center;
}
@media (max-width: 1000px) {
  .meet-us .meet-content .person a i {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .meet-us .meet-content .person a i {
    font-size: 2.5rem;
  }
}
.meet-us .meet-content .person a i:hover {
  color: #8DC300;
}
footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1%;
  text-align: center;
  color: #628c3d;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  bottom: 0;
  min-width: 100%;
}
@media (max-width: 1000px) {
  footer {
    margin-top: 20%;
  }
}
@media (max-width: 500px) {
  footer {
    margin-top: 30%;
  }
}
