
.home-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 40px;
    .main-logo {
        display: flex;
        justify-content: center;
        width: 60%;

        img {
            width: 50%;
        }
    }

    .home-content {
        text-align: center;
        width: 95%;

        .title-home-intro {
            color: @green;
            font-family: @title;
            margin-top: 20px;
        }

        .home-intro {
            margin-top: 1%;
            display: inline-flex;
            width: 50%;
            line-height: 160%;
            font-family: @copy;
            font-size: 2rem;
 
        }
    }

    .home-buttons {
        display: flex;
        width: 40%;
        justify-content: center;
        
        button {
            margin: 2% 8%;
        }

        .home-btn {
            .btnSignUp (center, center);
        }
    }


}

#videoBG {
    position:fixed;
    z-index: -1;
}

