
/* Nav Bar */

.header {
    .flex();
}


nav {

    .flex();
    flex-direction: row;
    width: 100%;
    margin-bottom: 2%;
    position: fixed;
    top: 0;
    left: 0;

    @media @macbook {
        margin-bottom: 5%;
    }

    @media @desktop {
        margin-bottom: 0;
    }
    
    @media @tablet {
        padding: .2%;
    }

    @media @phone {
        width: 100%;
    }

    .nav-container{
        width: 100%;
        padding: .5%;
        .background();
        .flex();

        @media @phone {
            .flex-w();
        }

        .logo{  
            .flex();
            width: 15%;
            justify-content: flex-end;
    
            @media @phone {
                width: 100%;
                margin-bottom: 2%;
                justify-content: center;
            }
        }
    
        .links {
            .flex();
            width: 60%;
            font-size: 1.5rem;
            justify-content: space-evenly;
            align-items: center;
            margin-right: 5%;
    
            @media @desktop {
                margin-right: 2%;
            }

            @media @phone {
                width: 100% ;
                justify-content: space-between;
            }
    
            a {
             text-decoration: none; 
             color: @green;  
    
             @media @desktop {
                font-size: 1.2rem;
            }
    
            @media @tablet {
                font-size: 1rem;
            }

            @media @phone {
                font-size: 1.3rem;
            }

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: @lgreen;
                transition: width .2s;
            }

            &:hover::after {
                width: 100%;
                transition: width .2s;
            }
        }

    }
    
        .search-box {
            .flex();
            width: 15%;
            justify-content: center;
            margin-top: 1%;
            border-radius: 40px;
            height: 30px;
            border-color: @green;
            background-color: white;
            box-shadow: 5px 5px 5px @green;
    
            @media @desktop {
                width: 20%;
            }
    
            @media @phone  {
                display: none;
            }
    
            .search-btn {
                width: 40px;
            }
    
            input {
                border: none;
                text-decoration: none;
                color: @green;
                
            }  
    
            input:focus {
                outline: none;
            }
            
           
        }


    }
    
       
}




