
// Color assignments 
@accent-color: @green;





// Colors
@green: #628c3d;
@lgreen: #8DC300;




@import url('https://fonts.googleapis.com/css?family=Simonetta|Spartan&display=swap');

@title: 'Simonetta', serif;
@copy: 'Spartan', sans-serif;

/* examples
@border: 2px dashed gray;

//mobile
@phone:~"(max-width: 500px)";
*/